---
import { Image } from "astro:assets";
import telu from "../../assets/TelU.webp";
import smk from "../../assets/SMKN2.png";
---
<section class="border-white border-b">
  <div class="mx-auto border-white border-x max-w-7xl">
    <div class="p-4 lg:p-8">
      <p class="text-white font-display uppercase text-2xl lg:text-6xl">
        Education
      </p>
    </div>
    <div class="text-white text-xs gap-y-8 gap-4 mx-auto p-4 lg:p-8 md:gap-y-0 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
      <div class="mb-8 md:mb-0 p-3 text-center">
        <div>
          <Image src={telu} alt="TelU" class="w-16 h-16 mx-auto mb-3" loading="eager" />
        </div>
        <div>
          <span class="text-white font-display text-xl">Telkom University</span>
          <p class="text-eagle mt-2">Informatics Engineering | 2023 - present</p>
        </div>
      </div>
      <div class="mb-8 md:mb-0 p-3 text-center">
        <div>
          <Image src={smk} alt="SkandaKra" class="w-16 h-16 mx-auto mb-3" loading="eager" />
        </div>
        <div>
          <span class="text-white font-display text-xl">SMK N 2 Karanganyar</span>
          <p class="text-eagle mt-2">Software Engineering | 2019 - 2022</p>
        </div>
      </div>
    </div>
  </div>
</section>
