---
import { getCollection } from 'astro:content';
import BentoGrid from "@/components/landing/BentoGrid.astro";
const posts = (await getCollection('blog')).sort(
    (a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf()
);
---
<section class="border-white border-b border-e border-l">
  <div class="p-10">
    <div class="p-8">
      <p class="text-white font-display uppercase text-3xl lg:text-6xl">
        Scroll. Read. Smile. Repeat.
      </p>
    </div>

    <div class="mx-auto p-8">
      <BentoGrid posts={posts} />
    </div>
        </div>
</section>
