---
import { getCollection } from 'astro:content';
import BentoGrid from "@/components/landing/BentoGrid.astro";
const posts = (await getCollection('blog')).sort(
    (a, b) => new Date(b.data.publishDate).valueOf() - new Date(a.data.publishDate).valueOf()
);
---
<section class="border-white border-b border-e border-l bg-accent-500">
  <div class="mx-auto border-white border-x px-8 py-12 gradient-grid">
    <div class="mx-auto">
      <h2 class="text-white font-display uppercase text-3xl lg:text-6xl pt-6">
        Scroll. Read. Smile. Repeat.
      </h2>
    </div>
  </div>
</section>

<section class="border-white border-b border-e border-l">
  <div class="p-4 lg:p-10">
    <div class="mx-auto">
      <BentoGrid posts={posts} />
    </div>
  </div>
</section>
