@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Inter', sans-serif;
  }

  @supports (font-variation-settings: normal) {
    :root {
      font-family: 'Inter var', sans-serif;
    }
  }
}

@font-face {
  font-family: "Basement";
  src: url("../fonts/BSBlack.eot");
  src: url("../fonts/BSBlack.eot");
  src: url("../fonts/BSBlack.eot?#iefix") format("embedded-opentype"),
    url("../fonts/BSBlack.woff2") format("woff2"),
    url("../fonts/BSBlack.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  descent-override: 0%;
}

.gradient-grid {
  background-image: radial-gradient(circle at center center, transparent 0%, rgba(255, 255, 255, 0) 99%), repeating-linear-gradient(0deg, rgba(205, 205, 205, 0.2) 0px, rgba(205, 205, 205, 0.2) 1px, transparent 1px, transparent 6px), repeating-linear-gradient(90deg, rgba(205, 205, 205, 0.2) 0px, rgba(205, 205, 205, 0.2) 1px, transparent 1px, transparent 6px), linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Micro-interactions */
a {
  transition: all 0.2s ease-in-out;
}