<section class="border-b gradient-grid md:pt-5 border-white border-x">
  <div class="mx-auto max-w-7xl">
    <div class="mx-auto max-w-7xl p-8">
      <p class="text-white font-display uppercase lg:text-6xl text-xl pb-4">
        Discover Me.
      </p>
    </div>
    <div class="mx-auto max-w-7xl px-8 -mt-4 mb-4">
      <p class="text-white font-display uppercase lg:text-3xl">
        Hi,
        I'm a Backend Developer passionate about crafting efficient web applications. As a student at Telkom University, I focus on honing my backend development skills. My goal is to build scalable, clean, and user-friendly solutions. Committed to delivering high-quality work, I pay close attention to client needs.
      </p>
    </div>
  </div>
</section>

