<section class="border-white border-b">
  <div class="mx-auto border-white border-x max-w-7xl">
    <div class="mx-auto">
      <div class="mx-auto lg:pt-28 gradient-grid px-8 py-12">
        <h1 class="text-white font-display uppercase text-3xl lg:text-7xl">
          404: Whoopsie daisy! This page is playing hide and seek.
        </h1>
      </div>
    </div>
  </div>
</section>