---
import "../styles/global.css";
import { AstroSeo } from "@astrolib/seo";
---

<!---
Use AstroSeo in all the pages you want different Seo than the index page
-->
<AstroSeo
  title="Adam Ibnu Alfatah"
  description="Adam Ibnu Alfatah is a Backend Developer"
  canonical="https://www.adamibnu.com"

/>
<meta charset>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="author" content="Michael Andreuzza" />
<meta name="Adam Ibnu" content="Adam Ibnu Alfatah" />
<title>Adam Ibnu Alfatah</title>
<meta name="theme-color" content="#968b6c"/>
<!-- Favicon guidelines generated with https://favicon.io/ -->
<link
  rel="apple-touch-icon"
  sizes="180x180"
  href="../nu.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="32x32"
  href="../nu.png"
/>
<link
  rel="icon"
  type="image/png"
  sizes="16x16"
  href="../nu.png"
/>
<meta name="msapplication-TileColor" content="#ffffff" />
<meta name="theme-color" content="#ffffff" />

<!-- HTML in your document's head -->
<!--<link rel="stylesheet" href="https://rsms.me/inter/inter.css" />-->
<link rel="stylesheet" href="https://fonts.cdnfonts.com/css/helvetica-255" />

<script src="https://unpkg.com/mailgo@0.12.2/dist/mailgo.min.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/css/splide.min.css"
/>
<script
  defer
  src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.7/dist/js/splide.min.js"
></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
></script>

<!-- Remove analytics tag -->
<script async defer data-website-id="4e24010d-9b5e-4493-bd69-4cc2f370838b" src="https://stats.andreuzza.com/umami.js"></script>