---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
export const prerender = true;
---
<!DOCTYPE html>
<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5FBMPNZEED"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5FBMPNZEED');
    </script>
    <BaseHead />
  </head>
  <body class="mx-auto bg-black 2xl:max-w-7xl">
    <Navigation />
    <slot />
    <Footer />
  </body>
</html>
