---
import BaseHead from "@/components/BaseHead.astro";
import Navigation from "@/components/global/Navigation.astro";
import Footer from "@/components/global/Footer.astro";
export const prerender = true;

export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" class="selection:bg-carrot selection:text-white">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap.xml" />
    <!-- Google tag (gtag.js) -->
    <!-- Google tag (gtag.js) -->
    <script type="text/partytown" async src="https://www.googletagmanager.com/gtag/js?id=G-5FBMPNZEED"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-5FBMPNZEED');
    </script>
    <BaseHead title={title} description={description} />
  </head>
  <body class="mx-auto bg-black 2xl:max-w-7xl">
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
    <script>
      import Lenis from 'lenis'

      const lenis = new Lenis()

      function raf(time) {
        lenis.raf(time)
        requestAnimationFrame(raf)
      }

      requestAnimationFrame(raf)
    </script>
  </body>
</html>
