<div id="disqus_thread" class="mx-auto max-w-3xl hover:prose-a:text-carrot prose prose-a:text-accent-500 prose-blockquote:border-l-carrot prose-blockquote:text-gray-500 prose-code:text-carrot prose-headings:font-bold prose-headings:text-carrot prose-headings:tracking-tighter prose-li:marker:text-accent-500 text-gray-200 py-24 prose-pre:border"></div>
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
        let d = document, s = d.createElement('script');
        s.src = 'https://adam-profile.disqus.com/embed.js';
        s.setAttribute('data-timestamp', String(+new Date()));
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>